# Build directories
cmake-build-debug/
build*/
release*/

# IDEA configuration
.idea/

# Make, qmake, and CMake files
*Makefile*
object_script*
strata.pro.user
CMakeLists.txt.*

# Ignore vim files
tags
tags.temp
*.swp
*.un~

# Ignore deploy
deploy/

# Include latex temporary files
manual/manual.aux
manual/manual.bbl
manual/manual.blg
manual/manual.fdb_latexmk
manual/manual.fls
manual/manual.idx
manual/manual.ilg
manual/manual.ind
manual/manual.lof
manual/manual.log
manual/manual.lot
manual/manual.out
manual/manual.synctex.gz
manual/manual.toc
